[submodule "source/secretmanagerinterface"]
	path = source/secretmanagerinterface
	url = git@github.com:JhonnyJason/network-sources-secretmanagerinterface.git
[submodule "source/clientmodule"]
	path = source/clientmodule
	url = git@github.com:JhonnyJason/secret-manager-client-sources-clientmodule.git
[submodule "source/networkbrowser"]
	path = source/networkbrowser
	url = git@github.com:JhonnyJason/network-sources-networkbrowser.git
[submodule "source/networknode"]
	path = source/networknode
	url = git@github.com:JhonnyJason/network-sources-networknode.git
